body  {
   /*background-color: #5D6D7E;*/
   background-color: #6d7993;
   margin: 0px;
   font-family: Helvetica, Verdana, Arial, sans-serif; 
   min-height: 100%;
}

/** BODY TEXT FORMATTING **/

p.white {
    color: white;
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    }  



/*** FOOTER FORMATTING ***/

.footer {
  position: fixed;
  bottom: 0;
  min-height: 1%;
  width: 100%;
  padding: 0px;
  background-color: #222;
  opacity: 0.75;
  filter: Alpha(opacity=75); /* IE8 and earlier */
}

.footer-text {
   background-color: black; 
   padding: 10px; 
   color: white; 
   text-align: right; 
   font-size: .75em;
}

/** Background colors **/
.white {
  background-color: white;
    font-family: Helvetica, Verdana, Arial, sans-serif; 
  }

.overcast {
    background-color: #9099A2;
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    }
.paper {
    background-color: #d5d5d5;	
    font-family: Helvetica, Verdana, Arial, sans-serif; 
  }
.dusty {
    background-color: #96858F;	
    font-family: Helvetica, Verdana, Arial, sans-serif; 
  }
.lavendar {
  background-color: #6D7993;
  color: #111;	
    }


.overcast a {
    color: #111;
    text-decoration: none;
    }
.paper a {
    color: #111;	
    text-decoration: none;
  }
.dusty a {
    color: #111;	
    text-decoration: none;
  }  
.lavendar a {
    color: #111;
    text-decoration: none;
    }

.overcast a:hover {
    color: #600;	
    text-decoration: none;
    }
.paper a:hover {
    color: #eee;	
    text-decoration: none;
  }
.dusty a:hover {
    color: #600;	
    text-decoration: none;
  }  
.lavendar a:hover {
    color: #600;	
    text-decoration: none;
    }



/** HEADERS LISTS **/

H2.PageTitle {
     line-height: 150%;
     margin-bottom: 50px;
     }



/** TABLE FORMATTING **/

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #F5F5F5;
}

table, td, th {
    border: 1px solid black;
}

tr:hover {
	background-color: #fff;
	}
	

th {
    color: black;
    height: 40px;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
}


td {
    height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

td a.cell {
	color: darkred;
    text-decoration: underline;
}

td a.cell:hover {
    color: #c00;
}



/** UNORDERED LISTS **/
   


/* DIV LINK: Add atribute to link inside div box */

.box {
     display:block; 
     position: relative; 
     width: full; 
     height: full; 
     left: 0; 
     top: 0;
     }

/* H1 - H5 */

h2.smallcaps {
     font-family: Lucida Console, monospaced;
     font-variant: small-caps;
     font-size: 2em;
     }
h3  {
     font-family: Helvetica, Verdana, Arial, sans-serif; 
     font-variant: small-caps;
     font-size: 1.25em;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     }     
     
h4  {
     font-family: Helvetica, Verdana, Arial, sans-serif; 
     font-size: 1em;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     }     
     

