<!DOCTYPE html>
<html>
  <title>LTCE Prep - Medical Interpreters: Exam information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="greychateau">
<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/about/">About</a></li>
    <li class="right"><a href="/contact/">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->
<div class="center-it"  style="max-width: 1000px;">
  <div class="parent">

      <div class="content-head white">  

     <!- * Body Content - BEGIN ->  

        <!- * Body Title - BEGIN ->         
        
        <div class="item-head white" style="flex: 6"> 
            <table class="naked">
            	<tr>
            		<td class="naked" style="text-align: center; verticle-align: middle; width: 99%"><h1 class="maintitle-about">About LTCE Prep</h1></td>
            		<td class="naked" style="text-align: right; verticle-align: middle;"><img src="/assets/images/LTCElogo.png" style="padding: 0px 0px 0px 0px; height: 70px; width: 70px" align="right"></td>
            	</tr>
            </table>
            
            <!- * Body Title - END ->         
        
		    <hr class="style-eight">            
		    
            <!- Oral Intro: BEGIN -->

    		<div class="column2 alpha">Double Column Text that will fill columns if long enough.
            </div>
            <br />
            <br />

           <table>
               <tr>
                   <th class="lavendar" style="text-align: center;">x</th>
                   <th class="lavendar" style="text-align: center;">x</th>
               </tr>
               <tr>
                   <td class="paper">x</td>
                   <td class="paper">x</td>
               </tr>
               <tr>
                   <th style="background-color: #fcc; text-align: center;" colspan="2">x</th>
               </tr>
               <tr>
                   <td style="width: 50%; vertical-align: top">

                   </td>                
                    <td style="width: 50%; vertical-align: top">x

                   </td>
               </tr>
           </table>
           <br />        
		    <hr class="style-eight">      
            <!- Oral Intro: END -->    
                             
            <!- OT Content Being: BEGIN -->        
            
            <!- OT Content Being: END -->                    
        
	        <br />
	        <br />
	    </div>
    
     <!- * Body Content - END ->                        
     
    </div>
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
