<!DOCTYPE html>
<html class="ci-Iframe">
	<title>LTCE Prep - Medical Interpreters: Consecutive Interpretation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	

	
</head>

<body style="background-image: none; background-color: #eee;">

<!- * Main Body - BEGIN ->

	<div style="padding-left: 0px; padding-right: 0px">

		
		{{ content }}
		
		</div>
<br />
&nbsp;
<!- * Main Body - BEGIN ->

<br />
<br />

<script>
function textHide01() {
    document.getElementById("changeFontColor").style.color = "#eee";
}

function textReveal01() {
    document.getElementById("changeFontColor").style.color = "black";
}

</script>
</body>
</body>
</html>