<!DOCTYPE html>
<html class="mr-Iframe">
<head>
	<title>LTCE Prep - Medical Interpreters: Consecutive Interpretation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>	  


</head>

<body style="background-image: none; background-color: white;">

	<!- * Main Body - BEGIN ->

<!-- CONTENT BELOW -->

{{ content }} 

<!-- CONTENT AVBOVE -->

<script>
var acc = document.getElementsByClassName("subAccordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var subPanel = this.nextElementSibling;
    if (subPanel.style.maxHeight){
      subPanel.style.maxHeight = null;
    } else {
      subPanel.style.maxHeight = subPanel.scrollHeight + "px";
    } 
  }
}
</script>



</body>
</html>