<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Code of Ethics & Professional Conduct </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../index.html">LTCE Prep Home</a></li>
		  <li>Code of Ethics</li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Code of Ethics</h1> 
		  <p  class="text-gray333">Interpreter, Translator, and Licensed Agency Personnel Code of Professional Conduct</p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->         

		<div class="w3-row-padding">
			<div class="w3-third">
				<h2>Code of Ethics</h2>
				<p>• Study the Code</p>
				<p>The state of Washington's DSHS has a <a href="https://www.dshs.wa.gov/fsa/language-testing-and-certification-program/code-ethics" class="link-red"><strong>Code of Professional Conduct for Interpreter, Translator, and Licensed Agency Personnel</strong></a>.  This code comprises the obligations that medical interpreters must honor when carrying out their duties. These 12 core pinciples of the profession provide a guide for behavior which is expected to be followed.</p> 
				<p><strong>NOTE:</strong> The LTC exam for medical interpreters has a number of questions concerning the aforementioned code ethics. Accordingly, it is incumbent on the test taker to study the code <em>prior</em> to the exam if to do well on the written portion.</p>
				<p>A <a href="https://www.dshs.wa.gov/sites/default/files/FSA/ltc/documents/DSHSInterpreterAndTranslatorCodeOfConduct%20042015.pdf" class="link-red"><strong>PDF</strong></a> containing the code of ethics is available on the state of Washington's DSHS website (scroll to bottom of page).
			</div>

			<div class="w3-third">
				<h2>Ethics Quiz</h2>
				<p>• Test knowledge</p>
				<p>The <a href="https://www.surveymonkey.com/r/LTCEPrep" class="link-red"><strong>ethics quiz</strong></a> created by the staff at LTCE Prep comprises 12 'True or False' questions covering the 12 core principles of the state of Washington's DSHS Code of Professional Conduct for Interpreter, Translator, and Licensed Agency Personnel.  Our quiz is attempts to mimic the state exam&mdash;more or less&mdash;thereby affording individuals a chance to check their comprehension of the ethical principles prior to the actual LTC exam.</p>
				<p>Results of the exam are provided immediately to the test taker. Additionally, the results will be sent as <em>anonymous</em> data to staff of LTCE Prep.  That is, <em>no personal identifying information</em> will be recorded.</p>
			</div>

			<div class="w3-third">
				<h2>WA DSHS Video </h2>
				<p>• Watch video</p> 
				<p>The state of Washington's DSHS provides an <a href="https://www.dshs.wa.gov/fsa/language-testing-and-certification-program/orientations-and-ethics-training" class="link-red"><strong>orientation and ethics training video for medical interpreters</strong></a> intended for individuals who have passed the written and oral sections of the state exam.  Nevertheless, anyone may watch the video, regardless of whether he or she as passed yet to pass the exam may still watch the video. </p>
				<p>The video goes into some detail regarding the code of ethics, perhaps more than what may be required to prepare for the state exam.  Evenstill, a watching helps to enhance an understanding of the code by putting them into some  context.
			</div>

		</div>
			<hr class="style-two;" />
			
			
		<div class="polaroid" style="margin: 0 auto; display: block;">
			   <img src="/assets/images/calvinhobbes.jpg" style="width: 100%; height: auto;" alt="Norway">
		  		<div class="polaroid-container">
				    <p><a href="http://www.gocomics.com/calvinandhobbes/" class="link-red">Calvin & Hobbes by Bill Watterson</a></p>
			  </div>
		</div>

			<hr class="style-two;" />

		<br />
		<br />
	


	     <!- * Body Content - END ->                        
     
	</div>    
  </div>
</div>


<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
