<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Code of Ethics & Professional Conduct </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body style="background-color: #efefef;">

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../index.html">LTCE Prep Home</a></li>
		  <li>LTC Exam</li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666;">
		  <h1>LTC Exam</h1> 
		  <p  class="text-gray333">Information about the state of Washington's DSHS LTC Exam for Medical Interpreters </p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />            
		    
            <!- Oral Intro: BEGIN -->

    		<div class="column2 alpha">Part of the LTC Exam for Medical Interpreters is an oral section.&nbsp; The structure of this section of the exam differs depending on the target language of the exam—that is, the language for which the test taker wants to be certified or authorized to work as a medical interpreter.&nbsp;  Some will receive one version of the exam, which will have its own set of oral exercises.&nbsp; Others will receive a different version, which will similarly have <em>its</em> own set of oral exercises.
                 <p><strong><em>How does this work?</em></strong>&nbsp;  The State of Washington's DSHS divides target languages into two primary categories—<em>certified</em> and <em>screened</em>.  Eight languages are classified as certified.&nbsp;  These are Cambodian, Chinese-Cantonese, Chinese-Mandarin, Korean, Laotian, Russian, Spanish, and Vietnamese.&nbsp;  All other languages are classified as screened languages.  Which version of the test administered depends on into which category the target language falls.</p>
                 <p><strong><em>How do the tests differ?</em></strong>&nbsp;  Both versions of the exam have a written and an oral section.  However, the exam for certified languages will be in both a target language and in English, while the exam for screened languages will only be in English.&nbsp;  How the written and oral sections vary according to language group can be seen in Table 1 below.  And how the oral exam is scored can be seen in Table 2 below.</p>                 
            </div>
            <br />
            <br />

           <table>
               <tr>
                   <th class="dusty" style="text-align: center;">Exam for Certified Languages</th>
                   <th class="dusty" style="text-align: center;">Exam for Screened Languages</th>
               </tr>
               <tr>
                   <td class="paper">Cambodian, Chinese-Cantonese, Chinese-Mandarin, Korean, Laotian, Russian, Spanish, & Vietnamese</td>
                   <td class="paper">All languages that are not certified</td>
               </tr>
               <tr>
                   <th style="background-color: #fcc; text-align: center;" colspan="2">Written Section</th>
               </tr>
               <tr>
                   <td style="width: 50%; vertical-align: top">
                        <p style="text-align: left; margin: 7px;"> The written test for medical interpreters has five sections, all in multiple choice formats.</p>
                        <ul class="basic-square">
                            <li><strong>Section one — professional code of ethics:</strong> In this section, statements regarding professional code of conduct are written in the English language, and the candidate will need to determine whether each statement is true or false.</li>
                            <br />
                            <li><strong>Section two — medical terminologies:</strong> This section covers such areas as parts of the body, symptoms, disease/illness/injury/physical disorder, treatment, prescription, medical personnel, and miscellaneous health related expressions. All stems in section two are in the English language while all options are in a non-English language. For each question, the candidate will need to identify the target language equivalent of the English word/term in the stem. </li>
                            <br />
                            <li><strong>Section three — clinical/medical procedures:</strong> Both stems and options in this section are in the English language. The candidate will need to choose from those given options the one that best describes each procedure. </li>
                            <br />
                            <li><strong>Section four — brief writing test in the English language:</strong> The candidate will need to choose an option to best complete each unfinished sentence. </li>
                            <br />
                            <li><strong>Section five — brief writing test in a non-English language:</strong> The format of this section is exactly the same as that of Section four, except that all items are written in a language other than English.</li>
                        </ul>
                   </td>                
                    <td style="width: 50%; vertical-align: top">
                         <p style="text-align: left; margin: 7px;">The written screening test for medical interpreters is composed of four sections, all in multiple choice formats:</p>
                         <ul class="basic-square">
                             <li><strong>Section one: professional code of conduct.</strong> In this section, statements regarding professional code of conduct are written in the English language, and the candidate will need to determine whether each statement is true or false.</li>
                             <br />
                             <li><strong>Section two: medical terminologies; </strong>  This section covers such areas as parts of the body, symptoms, disease/illness/injury/physical disorder, treatment, prescription, medical personnel, and miscellaneous health related expressions.  All stems in section two are in the English language AND all options are in English. For each question, the  candidates will need to make the best choice from four options provided.</li>
                             <br />	
                             <li><strong>Section three: clinical/medical procedures; </strong>  Both stems and options in this section are in the English language. The candidate will need to choose from those given options the one that best describes each procedure. </li>
                             <br />
                             <li><strong>Section four: indirect writing test in the English language.</strong> The candidate will need to choose an option to best complete each unfinished sentence. </li> 
                         </ul>
                         <p style="text-align: left; margin: 7px;"><strong>Note:</strong> All items in the written screening test are in English.</p>


                   </td>
               </tr>
               <tr>
                   <th style="background-color: #fcc; text-align: center;" colspan="2">Oral Section</th>
               </tr>
               <tr>
                   <td style="width: 50%; vertical-align: top">
                        <p style="text-align: left; margin: 7px;">The oral test for medical interpreters is composed of two parts — sight translation and consecutive interpretation.</p> 
                        <ul class="basic-square">
                            <li><strong>Part one (A+B)— sight translation:</strong> The candidate will be allowed six minutes to (A) orally render an English text into a target language, and another six minutes (B) to orally render a non-English language text into English. The candidate may silently review each text before interpreting, but the review time will be part of the six minutes permitted for each text.</li>
                            <br />
                            <li><strong>Part two — consecutive interpretation:</strong> Some pre-recorded audio materials will be played in this exercise. The candidate will assume the role of an interpreter. The recorded materials have built-in pauses. The pauses allow adequate time for the candidate to render the interpretation. <strong>Note:</strong> Interpretation will go from English into the candidate's target language AND from the candidate's target language into English.</li>
                        </ul>
                        <p style="text-align: left; margin: 7px;">The entire oral exam will be audio-recorded for scoring accuracy and documentation. The recorded test will be scored by independent raters retained by LTC, who are highly skilled professionals and/or certified interpreters.</p>
                   </td>
                    <td style="width: 50%; vertical-align: top">
                        <p style="text-align: left; margin: 7px;"">The oral screening test for medical interpreters has three parts.</p>
                        <ul class="basic-square">
                           <li><strong>Part one — sight translation.</strong> The candidate will orally render ten unrelated sentences from English into a target language. The candidate may silently review each text before interpreting, but it will part of the time allotted to render the sentences.</li> 
                           <br />
                           <li><strong>Part two — memory retention</strong></li> 
                           <br />
                           <li><strong>Part three — consecutive interpretation.</strong> The candidate will have to provide a consecutive interpretation from a target language into English.  Some pre-recorded audio materials will be played in this exercise.  The recorded materials have built-in pauses.  The pauses allow adequate time for the candidate to render the interpretation.</li>
                        </ul>
                        <p style="text-align: left; margin: 7px;">The oral screening test will be audio recorded for the purpose of scoring and record keeping. Objective scoring will be the only method employed in evaluating the oral screening test.</p>
                   </td>
               </tr>
           </table>
           <br />        
		    <hr class="style-eight">      
            <!- Oral Intro: END -->    
                             
            <!- OT Content Being: BEGIN -->        
            
            <!- OT Content Being: END -->                    
        
	        <br />
	        <br />
	        
	        
	    </div>
         <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
