<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: LTC Exam</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">Home</a></li>
		  <li>Vocabulary</li>
		</ul>


         <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>LTC Exam</h1> 
		  <p  class="text-gray333">Information about the state of Washington's DSHS LTC Exam for Medical Interpreters</p> 
		</div>

		<!- * Body Title - END ->         
                                 
		    
        <!- Oral Intro: BEGIN -->


		<div class="w3-row-padding">
			<div class="w3-half">
				<hr class="style-two;" />    
                <h2 class="dusty" style="text-align: center;"><strong>Exam for</br>Certified Languages</strong></h2>
				<hr class="style-two;" />    
				<p class="paper" style="text-align: center; color: darkred">Cambodian, Chinese-Cantonese, Chinese-Mandarin, Korean, Laotian, Russian, Spanish, & Vietnamese</p>
				<hr class="style-two;" />    
                <h3 style="background-color: #c33; text-align: center; padding: 10px; border: 1px solid #666;"><strong>Written Test</strong></h3>
                <p style="text-align: left;"> The certified languages written test for medical interpreters has five sections, all in multiple choice formats.</p>
                <ul class="basic-square">
					<li style="line-height: 2em"><strong>Section one — professional code of ethics:</strong> In this section, statements regarding professional code of conduct are written in the English language, and the candidate will need to determine whether each statement is true or false.</li>
					<br />
					<li style="line-height: 2em"><strong>Section two — medical terminologies:</strong> This section covers a range medical terminology and miscellaneous health related expressions. <strong>Note:</strong> <em>Candidates are given a term in ENGLISH and will have to choose the equivalent term in the TARGET LANGUAGE</em></li>	
					<br />
					<li style="line-height: 2em"><strong>Section three — clinical/medical procedures:</strong> This section covers a range clinical/medical procedures.  Candidates are given the name of the procedure and have to choose among for options which is correct definition.</li>
					<br />
					<li style="line-height: 2em"><strong>Section four — brief writing test in the English language:</strong> The candidate will need to choose an option to best complete each unfinished sentence. </li>
					<br />
					<li style="line-height: 2em"><strong>Section five — brief writing test in a non-English language:</strong> The format of this section is exactly the same as that of Section four, except that all items are written in the target language.</li>
				</ul>
                <h3 style="background-color: #c33; text-align: center; padding: 10px; border: 1px solid #666;"><strong>Oral Test</strong></h3>
				<p style="text-align: left; line-height: 2em">The oral test for medical interpreters is composed of two parts — sight translation and consecutive interpretation.</p> 
				<ul class="basic-square">
					<li style="line-height: 2em"><strong>Part one (A+B)— sight translation:</strong> The candidate will be allowed six minutes to (A) orally render an English text into a target language, and another six minutes (B) to orally render a non-English language text into English. The candidate may silently review each text before interpreting, but the review time will be part of the six minutes permitted for each text.</li>
					<br />
					<li style="line-height: 2em"><strong>Part two — consecutive interpretation:</strong> Some pre-recorded audio materials will be played in this exercise. The candidate will assume the role of an interpreter. The recorded materials have built-in pauses. The pauses allow adequate time for the candidate to render the interpretation. <strong>Note:</strong> <em>Interpretation will go from English into the candidate's target language AND from the candidate's target language into English.</em></li>
				</ul>
			<p style="text-align: left; line-height: 2em">The entire oral exam will be audio-recorded for scoring accuracy and documentation. The recorded test will be scored by independent raters retained by LTC, who are highly skilled professionals and/or certified interpreters.</p>
            </div> 

			<div class="w3-half">
				<hr class="style-two;" />    
				<h2 class="dusty" style="text-align: center;"><strong>Exam for<br />Screened Languages</strong></h2>
				<hr class="style-two;" />    
				<p class="paper" style="text-align: center; color: darkred">All languages that are not certified<br>&nbsp;</p>
				<hr class="style-two;" />    
                <h3 style="background-color: #c33; text-align: center; padding: 10px; border: 1px solid #666;"><strong>Written Test</strong></h3>
                <p style="text-align: left;">The screened languages written test for medical interpreters is composed of four sections, all in multiple choice formats:</p>
				<ul class="basic-square">
					<li style="line-height: 2em"><strong>Section one — professional code of ethics:</strong> In this section, statements regarding professional code of conduct are written in the English language, and the candidate will need to determine whether each statement is true or false.</li>
					<br />
					<li style="line-height: 2em"><strong>Section two — medical terminologies:</strong> This section covers a range medical terminology and miscellaneous health related expressions.   For each question, the candidates will be given a definition of a term and need to pick which term belongs to the defintion. <strong>Note:</strong> This section is completely in ENGLISH. </li>
					<br />	
					<li style="line-height: 2em"><strong>Section three — clinical/medical procedures:</strong> This section covers a range clinical/medical procedures.  Candidates are given the name of the procedure and have to choose among for options which is correct definition.</li>
					<br />
					<li style="line-height: 2em"><strong>Section four: indirect writing test in the English language.</strong> The candidate will need to choose an option to best complete each unfinished sentence. </li> 
                </ul>
                <p style="text-align: left; line-height: 2em"><strong>Note:</strong> All items in the written screening test are in English.</p>						
                <h3 style="background-color: #c33; text-align: center; padding: 10px; border: 1px solid #666;"><strong>Oral Test</strong></h3>
				<p style="text-align: left; line-height: 2em">The oral screening test for medical interpreters has three parts.</p>
				<ul class="basic-square">
					<li style="line-height: 2em"><strong>Part one — sight translation.</strong> The candidate will orally render ten unrelated sentences from English into a target language. The candidate may silently review each text before interpreting, but it will part of the time allotted to render the sentences.</li> 
					<br />
					<li style="line-height: 2em"><strong>Part two — memory retention</strong></li> 
					<br />
					<li style="line-height: 2em"><strong>Part three — consecutive interpretation.</strong> The candidate will have to provide a consecutive interpretation from a target language into English.  Some pre-recorded audio materials will be played in this exercise.  The recorded materials have built-in pauses.  The pauses allow adequate time for the candidate to render the interpretation.</li>
				</ul>
				<p style="text-align: left; line-height: 2em">The oral screening test will be audio recorded for the purpose of scoring and record keeping. Objective scoring will be the only method employed in evaluating the oral screening test.</p>
			 </div>                   
           </div>        
           
           
           <br />         	
            
            <!- Content Being: END -->                    
        
	        <br />
	        <br />
	        
	        
	    </div>
         <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
