<!DOCTYPE html>
<html>
  <title>LTCE Prep - Medical Interpreters: Oral Interpretation Exercises</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body>
<ul class="topnav">
  <li><a class="active" href="#home">Home</a></li>
  <li class="right"><a href="#about">About</a></li>
    <li class="right"><a href="#about">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->
<div class="center-it" style="max-width: 1000px;">
  <div class="parent">

      <div class="content-frame bg-white">  

      <!- * Top Content: BEGIN ->                               
        <div style="margin: 0px; padding: 5px;">
        	<table class="naked" style="width: 100%">
        		<tr>
        			<td class="naked">
		                   <img src="/assets/images/LTCElogo.png" style="padding: 0px 10px 0px 0px;" align="left">
		            </td>
		            <td class="naked"  style="width: 99%;">
			            <h1 class="maintitle" style="clear: right;">LTCE Prep: Medical Interpreters</h1>
		            </td>
		        </tr>
		    </table>
       </div>       
      <!- * Top Content: END ->   
                <br />
		<hr class="style-eight">         
      
      <!- * Nested Flex-Boxes - BEGIN ->
        
        <div class="fb-container" style="max-width: max-content; justify-content: center;">
          <div class="fb-parent" style="align-items: left;">
             <div class="fb-item-1 fb-bg-white"><a class="fb-box fb-link" href="/vocab/"><h3>Vocabulary<br />Section</h3><img src="assets/images/anatomy_bw.png" style="height: 100px; width: 100px;"><h4>Vocabulary Lists • Quizlet • <br />Flashcards • Pronunciation</h4></a></div>
             <div class="fb-item-2 fb-bg-white"><a class="fb-box fb-link" href="/oral/"><h3>Oral<br />Section</h3><img src="assets/images/oral_bw.png" style="height: 100px; width: 128px;"><h4>Consecutive Interpreting •<br />Sight Translation<br /> • Memory Retention</h4></a></div>
             <div class="fb-item-3 fb-bg-gray NotAllowed fb-box fb-nolink"><h3>Grammar<br />Section</h3><img src="assets/images/grammar_bw.png" style="height: 100px; width: 100px;"><h4>Those Dreaded<br />Grammar Questions:<br>Some Tips For Test</h4></div>
             <div class="fb-item-2 fb-bg-white"><a class="fb-box fb-link" href="/ethics/"><h3>Code of Ethics<br />Section</h3><img src="assets/images/professional_bw.png" style="height: 100px; width: 100px;"><h4>Washington State<br />Code of Conduct For<br /> Medical Interpreters</h4></a></div>
             <div class="fb-item-5 fb-bg-white"><a class="fb-box fb-link" href="/exam/"><h3>What is<br />The LTC Exam</h3><img src="assets/images/exam_bw.png" style="height: 100px; width: 100px;"><h4>State of Washington's<br />LTC Exam for <br>Medical Interpreters</h4></a></div>
             <div class="fb-item-6 fb-bg-gray NotAllowed fb-box fb-nolink"><h3><h3>About <br>LTCE Prep</h3><img src="assets/images/info_bw.png" style="height: 100px; width: 100px;"><h4>The Who,<br />What, Where,<br />When, & Why</h4></div>
           </div>
         </div> 
         
        <!- * Nested Flex-Boxes - END ->        
        <br />
        <br />
        <br />

    
     <!- * Body Content - END ->                        
     
    </div>
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
