<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Oral Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../index.html">Home</a></li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>LTCE Prep Course for Medical Interpreters</h1> 
		  <p  class="text-gray333">The LTC Exam preparation course for medical interpreters</p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->         
      
      <!- * Nested Flex-Boxes - BEGIN ->
        
        <div class="fb-container" style="max-width: max-content; justify-content: center;">
          <div class="fb-parent" style="align-items: left;">
             <div class="fb-item-1 fb-bg-white"><a class="fb-box fb-link" href="/written/vocab/"><h3>Vocabulary<br />Section</h3><img src="assets/images/anatomy_bw.png" style="height: 100px; width: 100px;"><h4>Vocabulary Lists • Quizlet • <br />Flashcards • Pronunciation</h4></a></div>
             <div class="fb-item-2 fb-bg-white"><a class="fb-box fb-link" href="/oral/"><h3>Oral<br />Section</h3><img src="assets/images/oral_bw.png" style="height: 100px; width: 128px;"><h4>Consecutive Interpreting •<br />Sight Translation<br /> • Memory Retention</h4></a></div>
             <div class="fb-item-3 fb-bg-gray NotAllowed fb-box fb-nolink"><h3>Grammar<br />Section</h3><img src="assets/images/grammar_bw.png" style="height: 100px; width: 100px;"><h4>Those Dreaded<br />Grammar Questions:<br>Some Tips For Test</h4></div>
             <div class="fb-item-2 fb-bg-white"><a class="fb-box fb-link" href="written/ethics/"><h3>Code of Ethics<br />Section</h3><img src="assets/images/professional_bw.png" style="height: 100px; width: 100px;"><h4>Washington State<br />Code of Conduct For<br /> Medical Interpreters</h4></a></div>
             <div class="fb-item-5 fb-bg-white"><a class="fb-box fb-link" href="/exam/"><h3>What is<br />The LTC Exam</h3><img src="assets/images/exam_bw.png" style="height: 100px; width: 100px;"><h4>State of Washington's<br />LTC Exam for <br>Medical Interpreters</h4></a></div>
             <div class="fb-item-6 fb-bg-gray NotAllowed fb-box fb-nolink"><h3><h3>About <br>LTCE Prep</h3><img src="assets/images/info_bw.png" style="height: 100px; width: 100px;"><h4>The Who,<br />What, Where,<br />When, & Why</h4></div>
           </div>
         </div> 
         
        <!- * Nested Flex-Boxes - END ->        
        <a href="final/index.html">MR Recording</a>
		<br />
        <br />
        <br />


    
     <!- * Body Content - END ->                        
     
    </div>
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
