<!DOCTYPE html>
<html>
  <title>LCTE Prep - Medical Interpreters</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body">
<ul class="topnav">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/vocab/index.html">Sections</a></li>
  <li class="right"><a href="#about">About</a></li>
    <li class="right"><a href="#about">Contact</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="fb-head" style="justify-content: center;">
  <div class="parent">
  
     <!- * Body Content - BEGIN ->  
       
      <div class="item-head white" style="flex: 4">
        <div style="margin: 15px; padding: 10px;">
           <h2 class="smallcaps" style="text-align: center">The LTCE Prep Course for Medical Interpreters</h2>
       </div>

       <!- * Nested Flex-Boxes - BEGIN ->
        
        <div class="fb-wrap" style="max-width: max-content; justify-content: center;">
          <div class="parent" style=" style="align-items: left;"">
             <div class="item dusty"><a class="box" href="/vocab/"><h3>Medical Interpreter<br />Vocabulary</h3><img src="assets/images/anatomy_bw.png" style="height: 100px; width: 100px;"><h4>Vocabulary Lists • Quizlet • <br />Flashcards • Pronunciation</h4></a></div>
             <div class="item overcast"><a class="box" href="/code/"><h3>Code of<br />Professional Conduct</h3><img src="assets/images/professional_bw.png" style="height: 100px; width: 100px;"><h4>Washington State<br />Code of Conduct For<br /> Medical Interpreters</h4></div>
             <div class="item lavendar"><a class="box" href="/oral/"><h3>Oral<br />Transation</h3><img src="assets/images/oral_bw.png" style="height: 100px; width: 128px;"><h4>Memory Retention •<br />• Back Translation</h4></div>
             <div class="item lavendar"><a class="box" href="/grammar/"><h3>Grammar<br />&nbsp;</h3><img src="assets/images/gears_bw.png" style="height: 100px; width: 142px;"><h4>Those Dreaded<br>Grammar Questions:<br>Some Tips For Test</h4></a></div>
             <div class="item-end paper" style="text-align: left"><h4>Posts:</h4></div>
           </div>
         </div> 
         
        <!- * Nested Flex-Boxes - END ->        
        
    </div>
    
     <!- * Body Content - END ->                        
     
     <!- * Side Bar - BEGIN ->                        

       <div class="item-head" style="flex: 1; min-height: 1px;  background-color: #aec2db">
      	 <p style="text-align: left;" clear="right"><img src="/assets/images/info_bw.png" style="float: left; width: 100px; height: 100px; padding: 0px 10px 0px 0px">The <strong>LTCE Prep Course for Medical Interpreters</strong> is a joint effort of Refugee Connections Spokane, Spokane College of English Langauge (SCEL), and Gonzaga University.</p>
         <p style="text-align: left;">Offered to residents in the greater Spokane area, this course helps prepare those planning to take the State of Washington's DSHS exam to become either a certified or authorized medical interpreter for the (more...) </p>
         <hr>
           <div class="item-side-box">
           <p style="text-align: center"><strong>• Future Classes •</strong></p>
           <p style="text-align: left"><strong>Course Dates:</strong>&nbsp; Our goal is to offer the course again in the Fall of 2017.&nbsp;  While no date has been set yet, the tentative start of class would be in early September.</p>
           </div>
        <hr />
       </div> 
       
      <!- * Side Bar - BEGIN ->                         
  </div>
</div>

<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
