<!DOCTYPE html>
<html>
	<title>LTCE Prep - Medical Interpreters: Memory Retention</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>	
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="bg-lavander">
<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/about/">About</a></li>
    <li class="right"><a href="/contact/">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->
<div class="center-it"  style="max-width: 1000px; min-witdh: 400px">
  <div class="parent">

     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

    
            <!- * Body Title - BEGIN ->         
        
        
			{{ content }} 
            
            <!- * Body Title - END -> 
    
     </div> 
     <!- * Body Content - END ->  
  </div>
</div>
<br />
<br />
&nbsp;
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>

</body>
</html>