<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Memory Retention Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">LTCE Prep Home</a></li>
		  <li><a href="../index.html">Oral Exercises</a></li>
		  <li>Memory Retention</li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Memory Retention</h1> 
		  <p  class="text-gray333">Sets of repeat sentence exercises to help develop memory retention</p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->   
			<div style="float: left; clear: all;"><img src="/assets/images/memory.png" style="padding: 10px 10px 5px 0px; height: 115px; width: 151px"></div>
			<p style="line-height: 1.75"><strong>Instructions:</strong> This is a memory retention exercise, also referred to as <em>repeat sentence</em> exercise.&nbsp;  The exercise uses pre-recorded audio materials, where each recording contains a set of sentences in English.&nbsp; To do the exercise, start by playing a recording.&nbsp;  After each sentence, try to retain what was said and then repeat it exactly as is in English.&nbsp;  Do not add anything or omit anything.&nbsp;  The recorded materials have built-in pauses after each sentence.&nbsp; These pauses allow for adequate time to repeat the sentence.</p>
			<p style="line-height: 1.75">For additional practice, record yourself as you are doing the exercises.  Then, after you have finished a set of sentences, listen to your recording and compare it to the text that accompanies each recording.  To extend the exercise even further, render an interpretation of the sentences orally into your target language (which gives your additional practice for consecutive interpretation), and then perform a written translation of the provided text as well. </p>
			
		<hr class="style-two;" />
			
		    <div class="flex-container-mr">
				<div class="flex-item-mr txt-center"><div style="background-color: #eee; padding-top: 5px; padding-bottom: 5px;"><strong>Step 1</strong></div><div style="padding-top: 5px; padding-bottom: 5px;"><img src="/assets/images/ear-anatomy.png" style="height: 75px; width: 75px; opacity: .8;"></div><strong>Listen To<br />Recording</strong></div>
				<div class="flex-item-mr txt-center"><div style="background-color: #eee; padding-top: 5px; padding-bottom: 5px;"><strong>Step 2</strong></div><div style="padding-top: 5px; padding-bottom: 5px;"><img src="/assets/images/memory.png" style="height: 75px; width: 100px; opacity: .8;"></div><strong>Memorize<br />Recording</strong></div>
				<div class="flex-item-mr txt-center"><div style="background-color: #eee; padding-top: 5px; padding-bottom: 5px;"><strong>Step 3</strong></div><div style="padding-top: 5px; padding-bottom: 5px;"><img src="/assets/images/lips.png" style="height: 75px; width: 75px;  opacity: 0.8;"></div><strong>Repeat In<br />English<br /></strong></div>
				<div class="flex-item-mr txt-center"><div style="background-color: #eee; padding-top: 5px; padding-bottom: 5px;"><strong>Optional</strong></div><div style="padding-top: 5px; padding-bottom: 5px;"><img src="/assets/images/tape-recorder.png" style="height: 75px; width: 75px;  opacity: 0.8;"></div><strong>Record<br />Yourself</strong></div>
				<div class="flex-item-mr txt-center"><div style="background-color: #eee; padding-top: 5px; padding-bottom: 5px;"><strong>Extension</strong></div><div style="padding-top: 5px; padding-bottom: 5px;"><img src="/assets/images/writing.png" style="height: 75px; width: 75px;  opacity: 0.8;"></div><strong>Translate<br />Text</strong></div>
			</div>
    
            <!- * Body Title - BEGIN ->         
		<hr class="style-two;" />
    
			<h2>Recordings</h2>
			
			
				<button class="accordion">Group 01 (added 22 April 2017)</button>
				<div class="panel">
					<iframe class="MRE-iFrame" name="aframe" src="/oral/retention/mr-text01.html">
						<p>Your browser does not support iframes.</p>
					</iframe>			
				</div>

				<button class="accordion">Group 02 (added 29 April 2017)</button>
				<div class="panel">
					<iframe class="MRE-iFrame" name="02frame" src="/oral/retention/set02.01.html">
						<p>Your browser does not support iframes.</p>
					</iframe>			
				</div>

				<button class="accordion">Bonus 01: Non-Medical (Advanced)</button>
					<div class="panel">
					<iframe class="MRE-iFrame" name="03frame" src="/oral/retention/bonus-set01.01.html">
						<p>Your browser does not support iframes.</p>
					</iframe>			
					</div>

			<!- * Body Content - END ->  

<br style="clear: all; "/>&nbsp;
<br style="clear: all; "/>&nbsp;
<br style="clear: all; "/>&nbsp;
<br style="clear: all; "/>&nbsp;
			</div>

		</div>
	
	</div>
	


<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

</body>
</html>