<!DOCTYPE html>
<html>
  <title>LTCE Prep - Medical Interpreters: Exam information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="/scripts/ltce.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="bg-lavendar">
<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/about/">About</a></li>
    <li class="right"><a href="/contact/">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">

     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

            <!- * Body Title - BEGIN ->         
        
			<h1 class="maintitle-oral">Oral Skills Development</h1>
            
            <!- * Body Title - END ->         
        
		    <hr class="style-eight">            
		    		    
            <!- Oral Intro: BEGIN -->
			<div class="column2" style="line-height: 1.25">
            	<div style="float: left; clear: all;"><img src="/assets/images/LTCElogo.png" style="padding: 5px 15px 5px 0px; height: 70px; width: 70px"></div>
    			<p style="margin: 0em;">The following exercises have been designed to help candidates (i.e., test takers) taking <a href="/exam/" class="link-red">the state of Washington’s LTC Exam for medical interpreters</a>.  How well do these exercises mimic the state exam?  That depends.  The LTC Exam comes in two variants—<a href="/exam/index.html#languages" class="link-red">one for certified languages and another for screened languages</a>.  The exam for certified languages will have materials in both in English and the candidate’s target language.   Conversely, the exam for screened languages will only have materials in English.  The materials here are only in English.  To that end, they cannot fully mimic the exam for certified languages. Nevertheless, these exercises will help to develop three skills needed for the oral section of the exam.</p>
				<p style="margin: 0em; text-indent: 50px;">(1) <a href="consecutive/index.html" class="link-red">Consecutive Translation skill.</a>  This is the skill of listening to a dialogue in one language and interpreting it into another <em>in real time</em>.&nbsp;  Do take note that on the certified language exam the candidate will have to interpret bi-directionally, both from English into a target language <em>and</em> from a target language into English.  Whereas on the screened language exam, the candidate will only have to interpret unidirectionally, from English to a target language.</p>
				<p style="margin: 0em; text-indent: 50px;">(2) <a href="oral-st.html" class="link-red">Sight Translation skill</a>. This is the skill of reading a short text in one language and orally interpreting it into another language.  Do note that on the certified language exam, the candidate will have to provide a sight translation bi-directionally, both from English to a target language and from a target language into English.  Whereas, on the screened language exam, the candidate will provide a sight translation only from English to a target language.</p>
				<p style="margin: 0em; text-indent: 50px;">(3) <a href="oral-mr.html" class="link-red">Memory Retention skill.</a>  This is the kill of listening to a sentences in English and repeating it back in English.  No target language is involved.  Only the screen languages will have a memory retention section.  Nevertheless, developing the skill is also important for candidates taking the certified language exam.  (One does need to recall what was said if to interpret it).</p>
				<p style="margin: 0em; text-indent: 50px;">Don’t forget to check out the <a href="oral-tips.html" class="link-red">tips for improving oral scores</a> on the on the LTC Exam.</p>
    		</div>

            <!- Oral Intro: END -->
            
            <!- Oral Body: BEGIN -->
 			<br />
 			<br  style="clear: both;" />
		    <hr class="style-eight">  
		    
		    <div class="flex-container-oral">
					<div class="flex-item-oral txt-center bg-paper" style="border: 3px solid black; border-radius: 10px; padding: 5px; box-shadow: 3px 3px 5px #999;"><a href="retention/index.html" class="link-red-02"><div><img src="/assets/images/memory.png" style="height: 100px; width: 124px; opacity: 0.95;"><h3>Memory<br />Retention<br /> Exercises</h3></div></a></div>
					<div class="flex-item-oral txt-center bg-paper" style="border: 3px solid #000; border-radius: 10px; padding: 5px; box-shadow: 3px 3px 5px #999;"><a href="sighttranslation/index.html" class="link-red-02"><div><img src="/assets/images/sight_bw.png" style="height: 100px; width: 131px;  opacity: 0.80;"><h3>Sight<br />Translation<br />Exercises</h3></div></a></div>
					<div class="flex-item-oral txt-center bg-paper" style="border: 3px solid #000; border-radius: 10px; padding: 5px; box-shadow: 3px 3px 5px #999;"><a href="consecutive/index.html" class="link-red-02"><div><img src="/assets/images/interpreter.png" style="height: 100px; width: 130px;  opacity: 0.80;"><h3>Consecutive<br />Interpretation<br />Exercises</h3></div></a></div>
					<div class="flex-item-oral txt-center bg-paper" style="border: 3px solid #000; border-radius: 10px; padding: 5px; box-shadow: 3px 3px 5px #999;"><a href="oral-tips.html" class="link-red-02"><div><img src="/assets/images/tips.png" style="height: 100px; width: 100px;  opacity: 0.80;"><h3>Tips For<br />Improving<br />Oral Score</h3></div></a></div>
			</div>

            <!- Oral Body END -->

 			<br  style="clear: both;" />
		    <hr class="style-eight">  


    </div>    
     <!- * Body Content - END ->                        
     

  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
