<!DOCTYPE html>
<html>
  <title>LTCE Prep - Medical Interpreters: Exam information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="/scripts/toggle.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="bg-lavendar">
<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/about/">About</a></li>
    <li class="right"><a href="/contact/">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">

     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

            <!- * Body Title - BEGIN ->         
        
            <h2 class="maintitle-oral">Consecutive Interpretation Exercises</h2>
            
            <!- * Body Title - END ->         
        
		    <hr class="style-eight">            
		    		    
            <!- Oral Intro: BEGIN -->
			<div class="column2" style="line-height: 1.25">Dialogues + Recording

    		</div>

            <!- Oral Intro: END -->
            
            <!- Oral Body: BEGIN -->
 			<br />
 			<br  style="clear: both;" />
		    <hr class="style-eight">  
		    

            <!- Oral Body END -->

 			<br  style="clear: both;" />
		    <hr class="style-eight">  


    </div>    
     <!- * Body Content - END ->                        
     

  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
