<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Oral Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../index.html">Home</a></li>
		  <li>Oral Exam</li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Oral Exercises</h1> 
		  <p  class="text-gray333">Consecutive Interpretation • Sight Translation • Memory Retention</p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->         
		
			<div style="line-height: 1.75">
				<div style="float: right; clear: all; border: 1px solid #ccf; background-color: #efefef; box-shadow: 0 4px 8px 0 #ccc; margin-bottom: 25px; margin-left:20px; padding-top: 10px; width: 20%;">
					<img src="/assets/images/tips.png" style="margin: 0 auto; display: block; height: auto; width: 50%;  opacity: 0.9;">
	            	<div class="polaroid-container">
					    <p><a class="link-red" href="oral-tips.html">Tips to Improve<br />Oral Score</a></p>
					</div>
				</div> 
            	
    			<p>The following exercises have been designed to help candidates (i.e., test takers) taking <a href="/exam/" class="link-red">the state of Washington’s LTC Exam for medical interpreters</a>.&nbsp;  How well do these exercises mimic the state exam?  That depends.&nbsp;  The LTC Exam comes in two variants—<a href="/exam/index.html#languages" class="link-red">one for certified languages and another for screened languages</a>.&nbsp;  Both exams will have materials in English and the candidate’s target language, but to a varying degree.  The exam for certified languages will have more material in two languages than the exam for non-certified languages.&nbsp;   Regardless, the materials here are only in English.&nbsp;  To that end, they cannot fully mimic the exam for certified languages.&nbsp; Nevertheless, these exercises will help to develop three skills needed for the oral section of the exam.</p>
    		 </div>
    		 
		<hr class="style-two;" style="clear: both;" />

		<div class="w3-row-padding">
			<div class="w3-third">
				<div class="whitecanvas"><a href="consecutive/index.html"><img src="/assets/images/interpreter.png" style="height: auto; width: 50%;  opacity: 0.9; margin: auto; display: block; padding:10px;"></a></div>
				<h2>Consecutive Interpretation</h2>
				<p><a href="consecutive/index.html" class="link-red">Consecutive Translation skill.</a>&nbsp; This is the skill of listening to a dialogue in one language and interpreting it into another <em>in real time</em>.&nbsp;  Get into character and assume the role of an interpreter.</p>
				<p><strong>Note:</strong> On the LTC exam for certified languages, candidate will have to consecutively interpret bi-directionally, both from English into a target language <em>and</em> from a target language into English.  Whereas on the screened language exam, the candidate will only have to consecutively interpret unidirectionally, from English into a target language.</p>
			</div>

			<div class="w3-third">
				<div class="whitecanvas"><a href="translation/index.html"><img src="/assets/images/sight_bw.png" style="height: auto; width: 50%;  opacity: 0.9; margin: auto; display: block; padding:10px;"></a></div>
				<h2>Sight Translation</h2>
				<p><a href="translation" class="link-red">Sight Translation skill.</a>&nbsp; This is the skill of reading a short text in one language and rendering an oral interpretation of it into another language.  For the exercises offered here, the translation will be unidirectional, going from English into a target language.</p>
				<p><strong>Note:</strong> On the LTC exam for certified languages, the candidate will have to provide a sight translation bi-directionally, both from English to a target language and from a target language into English.  Whereas, on the exam for screened languages, the candidate will provide a sight translation only from English into a target language.</p>
			</div>

			<div class="w3-third">
				<div class="whitecanvas"><a href="retention/index.html"><img src="/assets/images/memory.png" style="height: auto; width: 50%; opacity: .9;  margin: auto; display: block; padding:10px;"></a></div>
				<h2>Memory Retention</h2>
				<p><a href="retention/index.html" class="link-red">Memory Retention skill.</a>&nbsp;  This is the skill of listening to a sentence in English and repeating it back in English.  Listen. Memorize. Repeat. No target language is involved.</p>
				<p><strong>Note:</strong> Only the LTC exam for screened languages will have a memory retention portion on the oral exam.  Nevertheless, developing this skill is also important for candidates taking the certified language exam&mdash;one does need to recall what was said if to render an interpretation. <br />&nbsp;</p>
			</div>

		</div>
			<hr class="style-two;" />
            

 			<br />
 			<br  style="clear: both;" />
		    <hr class="style-five">
   			<br  style="clear: both;" />
 			<br  style="clear: both;" />


    </div>    
     <!- * Body Content - END ->                        
     

  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
