<!DOCTYPE html>
<html>
<head>
  	<title>LTCE Prep - Medical Interpreters: Exam information</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="lavendar">

<!- * NAV TOP:  BEGIN ->

	<ul class="topnav">
		<li><a class="active" href="/index.html">Home</a></li>
		<li class="right"><a href="/about/">About</a></li>
		<li class="right"><a href="/contact/">Contact</a></li>
	</ul>

<!- * NAV TOP:  END ->


<!- * Main Body - BEGIN ->

<div class="center-it">
  <div class="parent">

     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

            <!- * Body Title - BEGIN ->         
        
            <h1 class="maintitle-oral">Tips to Improve Oral Skills</h1>
            
            <!- * Body Title - END ->         
        
		    <hr class="style-eight">            
		    
            <!- Oral Intro: BEGIN -->

            <!- Oral Intro: END -->


            <!- Main Body: BEGIN -->
            
			<br />
			<ul class="basic-square"><div class="txt-left Font-L"><strong>Prepare Yourself</strong></div>
			   <li><strong>Relax mind</strong>&nbsp;</li>  
			   <li class="nobullet"><img src="/assets/images/eye-closed.png" style="padding: 0px 20px 0px 0px; height: 100px; width: 100px" align="right">Remember that relaxed minds are better at receiving new information.&nbsp;  So, as you practice these exercises, take a moment to relax your mind before you start.&nbsp;  Breathe deep and prepare yourself to become one with the sentence--"Ooooom."&nbsp; (Okay, maybe not that.)&nbsp;  But, do take a deep breath. Hold for a few seconds and  exhale.  As you breath out, relax your muscles and calm your mind.&nbsp;  Close your eyes if necessary.&nbsp;  Also, remember that physical exercise and meditation will improve your ability to remember.</li>
			</ul>
		    <hr class="style-two">    
		    

			
			<ul class="basic-square"><div class="txt-left Font-L"><strong>Memory Retention Exercise Tips</strong></div>
               <li><strong>Listen for phrases in the sentence</strong></li>
               <li class="nobullet">Remember, most sentences can be chunked.  That is, sentences will have groups of words that form phrases within it.  So, as you listen to the sentences, listen for the chunks and focus on meaningful phrases.&nbsp;  Avoid<strong>—</strong>trying<strong>—</strong>to<strong>—</strong>remember<strong>—</strong>each<strong>—</strong>word<strong>—</strong>individually.</li>
            </ul>

            
			<table class="naked" align="center">
				<tr class="naked" >
					<td class="naked autoheight" >Your appointment</td>
					<td class="naked autoheight" >with Dr. Loveless</td>
					<td class="naked autoheight" >is at 2:45</td>
					<td class="naked autoheight" >on the 14 of February.</td>
				</tr>
				<tr>
					<td class="top1px" >(What?)</td>
					<td class="top1px" >(With Who?)</td>
					<td class="top1px" >(At what time?)</td>
					<td class="top1px" >(On what day?)</td>
				</tr>
			</table>
			
			<br />
			
			<ul class="basic-square">
			   <li class="nobullet">The first chunk tells the 'what'—<em>Your appointment</em>.&nbsp; The second chunk tells 'with who'—<em>with Dr. Loveless</em>.&nbsp;  The third chunk tells 'at what time'—<em>at 2:45.</em>&nbsp;  And the last chunk tell 'on what day'—<em>on the 14th of Feburary.</em>&nbsp; While some sentences will be easier to chunk than others, you should practice nonetheless chunking them into meaningful bits of information.</li>
            </ul>
		    <hr class="style-two">    
			<ul class="basic-square">
               <li><strong>Copy stress</strong></li>
               <li class="nobullet">Phrases generally will have key words that receive emphasis.  When listening to a sentence, listen for words receive emphasis in a sentence.  Try to copy the stress when repeating back the sentence.</li>
            </ul>
			<table class="naked" align="center">
				<tr class="naked" >
					<td class="naked autoheight" >Take your <strong>medicine</strong></td>
					<td class="naked autoheight" ><strong>three</strong> times a day</td>
					<td class="naked autoheight" >for <strong>10 days</strong>.</td>
				</tr>
				<tr>
					<td class="top1px" >(What?)</td>
					<td class="top1px" >(How often?)</td>
					<td class="top1px" >(How long?)</td>
				</tr>
			</table>
			<br />
			<ul class="basic-square">
			   <li class="nobullet">In first chunk <em>medice</em> receives the emphasis.&nbsp; In the second, the important information is the <em>frequency</em>.&nbsp;  And in the third, the important information is <em>number of days</em>.</em>&nbsp;  The speaker generally puts stress on the important information.  As you repeat the sentences, try to imitate the rhythm and stress of the speaker.  Exaggerating it is even better.</li>
            </ul>
			
			<br style="clear: all;"/>
            
		    <hr class="style-eight"> 
			<br style="clear: all;"/>
            <br style="clear: all;"/>		    
	</div>	       
     <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->


<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
