<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Sight Translation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">LTCE Prep Home</a></li>
		  <li><a href="../index.html">Oral Exercises</a></li>
		  <li>Sight Translation</li>
		</ul>
            <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Sight Translation</h1> 
		  <p  class="text-gray333">Exercises to help develop sight translation skills</p> 
		</div>

		<!- * Body Title - END ->         
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->   
			<div style="float: left; clear: all;"><img src="/assets/images/sight_bw.png" style="padding: 10px 10px 5px 0px; height: 100px; width: 131px"></div>
			<p style="line-height: 1.75">The sight translation exercise involves taking a short text in one language and rendering an oral interpretation of it into another language. For the exercises offered here, the translation will be unidirectional, going from English into a target language.</p>
			<p><strong>Note:</strong> On the state of <a href="../../exam/" class="link-red">Washington's LTC Exam</a> the exercise is timed.  You will have 6 minutes to render an oral interpretation. While you may silently review each text before interpreting, the review time will be part of the six minutes permitted for each text.</p>
			<p>Since this is a timed exercise, time yourself to see how long it takes you to render an interpretation.  The passages below are approximately the same length as found on the state's practice exam manuel.</p>

		<hr class="style-two;" />
					
			<ol style="list-style-type: upper-latin; line-height: 2em"><strong>Some tips</strong>
				<li>Remember that this is a timed exercise.  You will have 6 minutes to complete it.</li>  
				<li>If you don't know a word in your target language, give it in English and move on.  Do not dwell on it.  Let it go.  Do not waste time on it.</li>
				<li>Avoid trying to correct previous mistakes if you can.  Part of the scoring will be based on fluency.  Jumping around in the text will hurt your score. </li>
				<li>Record yourself.  See if you can back translate what you recorded into English. Compare your back translation to the original passage.</li>
			</ol>	
					
					
			<ol style="list-style-type: upper-latin; line-height: 2em"><strong>Directions for sight translation exercise</strong>
				<li>Start a timer or stopwatch.</li>  
				<li>Silently read one of the  passagesfound below.</li>
				<li>Then, render an oral translation into your target language.</li>
				<li>Stop timer.  Check to see how long it took you to complete the exercise.</li>
			</ol>			
			
			
		<hr class="style-two;" />

		<h4 style="color: #933">29 April 2017</h4>

		<hr class="style-two;" />
		
		<div style="line-height: 2em;">
		<h3>Rheumatoid Arthritis</h3>
		<p>My daughter Olivia was just 4 when I noticed she was limping a bit.  I did not think her limp was anything major.  She just limped here and there. Never complained about anything hurting her.  A few months later I noticed she was favoring her right leg. </p>
		<p>Recently, I noticed she was limping really badly.  Also, I noticed her knee was twice her normal size.  I took her to an urgent care center.  She had some x-rays done.  I was told she probably fell, but if she wasn’t better I should follow up with her regular doctor.</p>
		<p>Olivia has not gotten better. Every morning, she cries because she cannot walk.  She crawls to avoid walking.  I took her to her pediatrician.  He reviewed the x-rays.  He ordered blood work.  Everything came back fine.  We were then told we should see a pediatric orthopedic surgeon.  That is why we are here.</p>
		</div>

		<hr class="style-two;" />

		<div style="line-height: 2em;">
		<h3>Colitis Symptoms</h3> 
		<p>In December, I started having horrible cramps in my abdomen.  Around the same time, I began to have episodes of diarrhea.  I went to a doctor to have things checked out.  She wrote me a prescription for my camps, and said that stress perhaps was causing the diarrhea.</p>
		<p>The medicine did not help, so I went back to see the doctor.  She put me on a new mediation. She thought my symptoms might be due to a bacterial infection.  She ran some blood work, but the test results came back negative.</p>
		<p>A few weeks later, I had to go to the emergency room due to dehydration. My diarrhea had become uncontrollable.  The doctor suspected that I had colitis and ordered some blood work.  I also had a CT scan.  The result of both came back positive.  He recommended that I make an appointment to see you, doctor. </p>
		</div>

		<hr class="style-two;" />

		<h4 style="color: #933">22 April 2017</h4>

		<hr class="style-two;" />
		
		<div style="line-height: 2em;">
		<h3>Parkinson's Symptoms</h3>
		<p>Two years ago, I developed a spasm in my left pinky that would come and go.  When I was younger, I had minor muscle spasms whenever I was under stress.  But, the spams never lasted more than a week or two.</p>
		<p>During the last six months, I started to have severe tremors in my left arm.  My arm just shakes.  I cannot control the tremors, either.  I took some medication to relax my muscles, but they pills don’t seem to be helping the problem. I am afraid that something more serious than stress is causing the tremors.</p>
		<p>Lately, my symptoms have multiplied.  I notice that I am having problems with my balance.  However, I don’t feel dizzy. In the morning, I struggle to get dressed.   Sometimes I cannot even button my shirt.  Also, I am often constipated.  I can go two days without a bowel movement.   The feeling is very uncomfortable.</p>
		</div>

		<hr class="style-two;" />
		
		<div style="line-height: 2em;">		
		<h3>Mumps Symptoms</h3> 	
		<p>I have not felt well for almost a week now.  On Monday, I noticed a small lump just under my left ear.  The lumps have spread down the left side of my body.  The lumps feel firm and very painful.  The pain is sharp and constant, especially in the morning.  Sleeping is especially difficult. Whenever I lie down, the discomfort becomes much stronger.</p>
		<p>Eating is very difficult.  I have a hard time swallowing.  My throat feels tight.   My mouth feels very dry and I have a funny taste in my mouth.  My head constantly throbs now.  My stomach feels nauseous and I cannot keep anything down.</p>
		<p>Oh, and bright lights are horrible.  I feel a stabbing pain in my eyes if the lights are too bright.  My cousin said I might have the mumps.  But, I had the MMR vaccine when I was a child and a booster as an adult.  I don’t know what is going on.  I feel like death.</p>
		</div>

		<hr class="style-two;" />

		<div style="line-height: 2em;">
		<h3>Pulmonary Edema Symptoms</h3> 	
		<p>I used to run about 5 times a week.  However, one day last month, I felt really weak after I exercised. I could not breathe properly and just felt as though I were going to die.   My breathing was very rapid but shallow.  As I tried to breath in deep, I heard a loud wheezing sound.</p>
		<p>The feeling was gone by the next day.  However, I was coughing up really thick, white phlegm.  And when I lay down, I had some shortness of breath.  I started to cough, and felt a general pain in my chest area.  I checked my pulse.  My heart rate was higher than normal.</p>
		<p>I have started to notice some swelling in the lower part of my body. I still have swelling in my feet and ankles especially.  When I push on the swollen area with my finger for five seconds, a dimple remains.  I cannot figure it out.  I have not started any new medications.   What is happening to me?</p>
		</div>

		<hr class="style-two;" />

		<div style="line-height: 2em;">
		<h3>Bacterial Meningitis Symptoms</h3> 		
		<p>My son has not been feeling well for a couple of weeks, now.  He had food poisoning twice, but he refused to go see a doctor.  I think he lost at least 5 pounds, maybe 10.  He limited his diet to just liquids and crackers. </p>
		<p>This morning, he woke up with a severe headache.  He complained that he had very stiff neck and could not turn his head.  He took several Ibuprofen tablets, but the medicine did not help.  By the afternoon, he started to run a high fever.</p>
		<p>Around 7:00 o’clock, he said he had a sharp pain in his left ear.  He wanted to lie down and sleep, but I was afraid to let him do so.  He grew confused and struggled to speak.  He had a strange pallor.  That is when I got scared.</p>

		<hr class="style-two;" />

		<!- * Body Content - END ->  

		<br style="clear: all; "/>&nbsp;
		<br style="clear: all; "/>&nbsp;
		<br style="clear: all; "/>&nbsp;
		<br style="clear: all; "/>&nbsp;
		
		</div>

	</div>	
</div>
	


<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

</body>
</html>