<!DOCTYPE html>
<html>
  <title>LTCE Prep - Medical Interpreters</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/scripts/ltce.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/flexbox.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body class="bg-paper">
<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/about/">About</a></li>
    <li class="right"><a href="/contact/">Contact</a></li>
</ul>



<!- * Main Body - BEGIN ->

<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">

     <!- * Body Content - BEGIN ->  
     <div class="content-frame bg-white">  

            <!- * Body Title - BEGIN ->         
        
            <h1 class="maintitle-oral">Medical Interpreter Vocabulary</h1>
            
            <!- * Body Title - END -> 

            <!- Vocabulary Intro: BEGIN -->
			<div class="column2">
				<div style="float: left; clear: all;"><img src="/assets/images/LTCElogo.png" style="padding: 5px 15px 5px 0px; height: 70px; width: 70px"></div>
				<p style="margin: 0em;">The  state of <a class="link-red" href="https://www.dshs.wa.gov/fsa/language-testing-and-certification-program/study-materials">Washington’s DSHS study booklets for the medical interpreters exam</a> provide a list of 800 or so vocabulary terms.  These 800 provide the basis for the vocabulary used in this course.  A look at the state’s list reveals that these terms have been divided into to several categories.  One set of terms belongs to <em>the human body</em>, another to <em>symptoms</em>, yet another to <em>medical procedures</em>, and still yet another to <em>treatments</em>, and even still yet another to <em>medications</em>, and so on.</p>
				<p>While still presented in this manner, the vocabulary in the LTCE Prep Course for Medical Interpreters is further subdivided, where approximately two-thirds—more or less—of the 800 terms are grouped according to body systems (e.g.,<em>skeletal system</em>, <em>cardiovascular system</em>, <em>digestive system</em>, and <em>reproductive system</em>).  Each list has an accompanying glossary (terms with definitions), a set of flashcards, a Quizlet study set, and pronunciation guide with audio.</p>
				<p>The remaining third of the 800 terms are divided among a few other lists. One of these is the <a class="link-red" href="https://drive.google.com/open?id=0BzgVAN-OzO_8Zkd2VWZSbjdwSWs">Words You Should Know Already (WYSKA) list</a>.  As the name suggests, many of these words you should probably know already. Nonetheless, review the terms to check which, if any, you don’t know. Please note that no accompanying glossary, flashcards, Quizlet study set, or pronunciation guide comes with the list.  As for the remaining words, they can be found on the <em>Other Words You Need to Know</em> (OWYNK) list.</p>
			</div>	
			
			<hr class="style-eight">
			
            <!- Vocabulary Intro: END -->        
        
		    <table>
		        <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="2">Types of Vocabulary Materials</th>
			    </tr>
			    <tr>
			        <td class="cell-top-left" width="25%" valign="top"><strong>Glossary:</strong>&nbsp; Available as a PDF document, each glossary contains the terms with accompanying definitions for the vocabulary list.</td>
				    <td class="cell-top-left" width="25%" valign="top"><strong>Flashcards:</strong>&nbsp; Print your own flashcards.&nbsp; The cards are available as a PDF for you to print and cut to make your own set of flashcards.</td>
				</tr>
				<tr>
				    
				    <td class="cell-top-left" width="25%" valign="top"><strong>Quizlet:</strong>&nbsp; Test your knowledge.  Not only can you study vocabulary, but you can quiz yourself.</td>
				    <td class="cell-top-left" width="25%" valign="top"><strong>Pronunciation:</strong>&nbsp; [Not Yet Available]</td>
			    </tr>
			</table>
			
			<br />
			
			<table class="full">
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 01: Muscular and Skeletal Systems</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary01.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary01.pdf">Glossary</a></td>
				    <td class="vocab-na">Flashcards</td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_39580i';"><a class="link-red" href="https://quizlet.com/_3ch8c6">Quizlet</a></td>
				    <td class="vocab-na">--</td>
			    </tr>
 			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 02: Cardiovascular & Circulatory Systems Systems</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary02.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary02.pdf">Glossary</a></td>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabFC02.pdf';"><a class="link-red" href="../assets/docs/VocabFC02.pdf">Flashcards</a></td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_39580i';"><a class="link-red" href="https://quizlet.com/_39580i">Quizlet</a></td>
				    <td class="vocab-na">--</td>
				</tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 03: Digestive & Urinary Systems</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary03.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary03.pdf">Glossary</a></td>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabFC03.pdf';"><a class="link-red" href="../assets/docs/VocabFC03.pdf">Flashcards</a></td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_3a0pg3';"><a class="link-red" href="https://quizlet.com/_3a0pg3">Quizlet</a></td>
				    <td class="vocab-na">--</td>
			    </tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 04: Nervous System & Hemapoietic System</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary04.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary04.pdf">Glossary</a></td>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabFC04.pdf';"><a class="link-red" href="../assets/docs/VocabFC04.pdf">Flashcards</a></td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_3chala';"><a class="link-red" href="https://quizlet.com/_3chala">Quizlet</a></td>
				    <td class="vocab-na">--</td>
			    </tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 05: Respiratory System</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary05.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary05.pdf">Glossary</a></td>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabFC05.pdf';"><a class="link-red" href="../assets/docs/VocabFC05.pdf">Flashcards</a></td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_3chala';"><a class="link-red" href="https://quizlet.com/_3dfvi0">Quizlet</a></td>
				    <td class="vocab-na">--</td>
			    </tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 06: Endocrine and Immune Systems</th>
			    </tr>
			    <tr>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabGlossary06.pdf';"><a class="link-red" href="../assets/docs/VocabGlossary06.pdf">Glossary</a></td>
			        <td class="vocab" onclick="location.href='../assets/docs/VocabFC06.pdf';"><a class="link-red" href="../assets/docs/VocabFC06.pdf">Flashcards</a></td>
				    <td class="vocab" onclick="location.href='https://quizlet.com/_3egoig';"><a class="link-red" href="https://quizlet.com/_3dfvi0">Quizlet</a></td>
				    <td class="vocab-na">--</td>
			    </tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 07: (AVAILABLE On May 06, 2017)</th>
			    </tr>
			    <tr>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
			    </tr>
			    <tr>
				    <th style="background-color: #C2BDC1; color: #2F2E2E" colspan="4">List 08: (AVAILABLE On May 13, 2017)</th>
			    </tr>
			    <tr>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
				    <td class="vocab-na">--</td>
			    </tr>
		    </table>
	        <br />
	        <br />
	        
	        
	    </div>
    
     <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
