<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Oral Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">Home</a></li>
		  <li><a href="index.html">Vocabulary</a></li>
		  <li>Additonal Words List</li>
		</ul>
            
        <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Additional Words List</h1> 
		  <p  class="text-gray333">Additional Words not covered on body system lists</p> 
		</div>

		<!- * Body Title - END ->         
                
            
		<hr class="style-two;" />

		<p>A number of terms found on the vocabulary list included in the LTC Exam study booklet are those that should already be known by a candidate (i.e., test taker).&nbsp; These terms have been turned into a "Words You Should Know Already" list, or WYSKA (pronounced 'HWIS-k<em>uh</em>') for short.&nbsp; Almost all of these terms fall in or below the K-4 word list in the English language.&nbsp; That is, these words are of the four thousand most commonly used words in English, and thereby should already be in a candidate's word bank.&nbsp; Accordingly, the LTCE Prep course will devote no time studying these terms.&nbsp; Nonetheless, the list should be reviewed to check if any terms are unfamiliar.</p>

		<hr class="style-two;" />

		<div class="w3-row-padding">
			<div class="w3-quarter" style="color: #c33"><strong>To be added 20 May 2017</strong>
			</div>

			<div class="w3-quarter">
			</div>
			
			<div class="w3-quarter">
			</div>
			
			<div class="w3-quarter">
			</div>

		</div>

            
		<!- * Body Content - Start ->         
	
        
	        
	 </div>
    
     <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
