<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Oral Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">Home</a></li>
		  <li><a href="index.html">Vocabulary</a></li>
		  <li>Body Systems</li>
		</ul>
            
        <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Vocabulary: Body Systems Lists</h1> 
		  <p  class="text-gray333">LTCE Prep vocabulary lists related to human body systems</p> 
		</div>

		<!- * Body Title - END ->         
                
            
		<hr class="style-two;" />
            
		<!- * Body Content - Start ->         
		
			<div style="line-height: 1.75">	
            	<p style="margin: 0em;">The following 8 vocabulary lists covers 500 or so terms, which comprise the core set of vocabulary directly covered in the LTCE Prep course.&nbsp;  Each of these lists focuses on a system or two of the human body.  For each list, a variety of materials are available: a glossary, a set of flashcards, and a Quizlet study set.</p>
    		 </div>
    		 
		<br style="clear: both;" />
		<hr class="style-two;" />		

		<!-- Begin List 1 -->

		<div class="w3-container w3-white">
			<h3>List 1:&nbsp; Muscular & Skeletal Systems</h3>
		</div>

		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary01.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary01.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h3></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3ch8c6';"><h4><a class="link-red" href="https://quizlet.com/_3ch8c6">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>

		<!-- End List 1 -->

		<hr class="style-two;" />
			
		<!-- Begin List 2 -->
			
		<div class="w3-container w3-white">
			<h3>List 02:&nbsp; Cardiovascular & Circulatory Systems</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary02.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary02.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC02.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC02.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_39580i';"><h4><a class="link-red" href="https://quizlet.com/_39580i">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 2 -->
		
			<hr class="style-two;" />


		<!-- Begin List 3 -->
			
		<div class="w3-container w3-white">
			<h3>List 03:&nbsp; Digestive & Urinary Systems</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary03.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary03.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC03.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC03.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3a0pg3';"><h4><a class="link-red" href="https://quizlet.com/_3a0pg3">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 3 -->
		
			<hr class="style-two;" />

		<!-- Begin List 4 -->
			
		<div class="w3-container w3-white">
			<h3>List 04:&nbsp; Nervous System & Hemapoietic System</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary04.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary04.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC04.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC04.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3chala';"><h4><a class="link-red" href="https://quizlet.com/_3chala">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 4 -->
		
			<hr class="style-two;" />

		<!-- Begin List 5 -->
			
		<div class="w3-container w3-white">
			<h3>List 05:&nbsp; Respiratory System</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary05.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary05.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC05.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC05.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3dfvi0';"><h4><a class="link-red" href="https://quizlet.com/_3dfvi0">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 5 -->
		
			<hr class="style-two;" />

		<!-- Begin List 6 -->
			
		<div class="w3-container w3-white">
			<h3>List 06:&nbsp; Endocrine and Immune Systems</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary06.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary06.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC06.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC06.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3egoig';"><h4><a class="link-red" href="https://quizlet.com/_3egoig">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 6 -->
		
			<hr class="style-two;" />

		<!-- Begin List 7 -->
			
		<div class="w3-container w3-white">
			<h3>List 07:&nbsp; Reproductive System</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary07.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary07.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC07.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC07.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3gh5lz';"><h4><a class="link-red" href="https://quizlet.com/_3gh5lz">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 7 -->
		
			<hr class="style-two;" />

		<!-- Begin List 8 -->
			
		<div class="w3-container w3-white">
			<h3>List 08:&nbsp; Endocrine and Immune Systems</h3>
		</div>
			
            
		<div class="w3-row-padding">
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabGlossary08.pdf';"><h4><a class="link-red" href="/assets/docs/VocabGlossary08.pdf">Glossary</a></h4></div>
			</div>

			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='/assets/docs/VocabFC08.pdf';"><h4><a class="link-red" href="/assets/docs/VocabFC08.pdf">Flashcards</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" onclick="location.href='https://quizlet.com/_3gh6e8';"><h4><a class="link-red" href="https://quizlet.com/_3gh6e8">Quizlet</a></h4></div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-center whitecanvas1" style="padding: 4px; margin: 1px; border: 1px dotted #ccc"><h4>&mdash;</h4></div>
			</div>

		</div>


		<!-- End List 8 -->
		
			<hr class="style-two;" />

	        <br />
	        
	        
	    </div>
    
     <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
