<!DOCTYPE html>
<html>
	<head>
	<title>LTCE Prep - Medical Interpreters: Oral Exercises</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" type="text/css" href="/css/flexbox.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/js/ltce.js"></script>
</head>

<body>

<ul class="topnav">
  <li><a class="active" href="/index.html">Home</a></li>
  <li class="right"><a href="/index.html">Contact Us</a></li>
</ul>


<!- * Main Body - BEGIN ->
<div class="center-it">
  <div class="parent">


     <!- * Body Content - BEGIN ->  
     <div class="content-frame">  

		<ul class="breadcrumb">
		  <li><a href="../../index.html">Home</a></li>
		  <li><a href="index.html">Vocabulary</a></li>
		  <li>WYSKA List</li>
		</ul>
            
        <!- * Body Title - BEGIN ->         

		<div class="w3-container w3-white" style="box-shadow: 1px 1px 3px #666; border-radius: 3px;">
		  <h1>Vocabulary: WYSAK List</h1> 
		  <p  class="text-gray333">A list of words you should know already</p> 
		</div>

		<!- * Body Title - END ->         
                
            
		<hr class="style-two;" />

		<p>A number of terms found on the vocabulary list included in the LTC Exam study booklet are those that should already be known by a candidate (i.e., test taker).&nbsp; These terms have been turned into a "Words You Should Know Already" list, or WYSKA (pronounced 'HWIS-k<em>uh</em>') for short.&nbsp; Almost all of these terms fall in or below the K-4 word list in the English language.&nbsp; That is, these words are of the four thousand most commonly used words in English, and thereby should already be in a candidate's word bank.&nbsp; Accordingly, the LTCE Prep course will devote no time studying these terms.&nbsp; Nonetheless, the list should be reviewed to check if any terms are unfamiliar.</p>

		<hr class="style-two;" />

		<div class="w3-row-padding">
			<div class="w3-quarter">
				<ul><strong>Human Body</strong>
					<li>ankle</li>
					<li>arm	</li>
					<li>back</li>	
					<li>brain</li>	
					<li>calf</li>	
					<li>chest</li>	
					<li>ear	</li>
					<li>elbow</li>	
					<li>eye/eyeball</li>	
					<li>face</li>	
					<li>fat</li>	
					<li>finger (nails)</li>	
					<li>foot</li>	
					<li>forehead</li>	
					<li>hand</li>	
					<li>hair</li>	
					<li>head</li>	
					<li>heart</li>	
					<li>heel</li>	
					<li>hip</li>	
					<li>knee</li>	
					<li>leg</li>	
					<li>lip</li>	
					<li>mouth</li>	
					<li>neck</li>	
					<li>nose</li>	
					<li>palm</li>	
					<li>shoulder</li>	
					<li>skin</li>
					<li>sole</li>
					<li>stomach</li>
					<li>thigh</li>
					<li>thumb</li>
					<li>toe</li>
					<li>waist</li>
					<li>wrist</li>
				</ul>	
			</div>

			<div class="w3-quarter">
				<ul><strong>Symptoms</strong>
					<li>backache</li>
					<li>bleeding nose</li>
					<li>broken</li>
					<li>chest pain</li>
					<li>cold</li>
					<li>cough</li>
					<li>cut</li>
					<li>drug overdose</li>
					<li>earache</li>
					<li>fever</li>
					<li>hangover</li>
					<li>headache</li>
					<li>hear</li>
					<li>heart attack</li>
					<li>insect bite</li>
					<li>sight</li>
					<li>sign</li>
					<li>smell</li>
					<li>sore</li>
					<li>sore throat</li>					
					<li>stabbed</li>
					<li>stomach ache</li>
					<li>temperature</li>
					<li>upset stomach</li>
					<li>vomiting</li>
					<li>weakness</li>
					<li>wound</li>
				</ul>				
			</div>
			
			<div class="w3-quarter">
				<ul><strong>Illness/Injury</strong>
					<li>bite (dog)</li>
					<li>bleed</li>	
					<li>broke</li>	
					<li>cancer</li>	
					<li>choke</li>	
					<li>die</li>	
					<li>food poisoning</li>	
					<li>frostbite</li>	
					<li>hurt</li>	
					<li>internal</li>	
					<li>malnutrition</li>	
					<li>obesity</li>	
					<li>poison</li>	
					<li>scab / scar</li>	
					<li>scald</li>	
					<li>torn</li>	
					<li>wound</li>
				</ul>

				<ul><strong>Treatment</strong>
					<li>exercise</li>
					<li>first aid</li>
					<li>injection</li>
					<li>massage</li>
					<li>medication</li>
					<li>mouthwash</li>
					<li>operation</li>
					<li>prevent</li>
					<li>surgery</li>
				</ul>
			</div>
			
			<div class="w3-quarter">
				<ul><strong>Medications</strong>
					<li>aspirin</li>
					<li>cough drops</li>
					<li>drug</li>
					<li>medicine</li>
					<li>prescription</li>
					<li>sleeping pills</li>
					<li>special effect</li>
					<li>teaspoon</li>
					<li>Tylenol</li>
					<li>vitamins</li>
				</ul>
				
				<ul><strong>Miscellaneous</strong>
					<li>accident</li>
					<li>alcohol</li>
					<li>ambulance</li>
					<li>appetite</li>
					<li>blood test</li>
					<li>circulation</li>
					<li>clinic</li>
					<li>cotton</li>
					<li>diet</li>
					<li>emergency</li> 
					<li>insurance</li>
					<li>injection</li>
					<li>medical history</li>
					<li>needle</li>
					<li>nutrition</li>
					<li>oxygen</li>
					<li>patient</li>
					<li>pharmacy</li>
					<li>registration</li>
					<li>thermometer</li>
					<li>weight</li>
					<li>wheelchair</li>
				</ul>
				
			</div>

		</div>

            
		<!- * Body Content - Start ->         
	
        
	        
	 </div>
    
     <!- * Body Content - END ->                        
     
  </div>
</div>
<!- * Main Body - BEGIN ->

<br />
<br />

<!- * Footer - BEGIN ->
<footer class="footer">
<div class="footer-text">LTCE Prep (2017)</div>
</footer>
<!- * Footer - ENDS ->
</body>
</html>
